# Sample .env file, copy and edit accordingly

# Database user and password
TIMESCALE_PASS=PASS_0
TIMESCALE_USER=timescale

# Database name
TIMESCALE_DB=timescale

# TIMESCALE_DATA is the path for the database's permanent data
TIMESCALE_DATA=./db/data/
TIMESCALE_INIT=./db/init/
TIMESCALE_PORT=22000

# Your user's UID and GID, so created files have correct permissions
USER_UID=1000
USER_GID=1000

# A local address that should be within reach if your LAN is online
# say, your router
MONITOR_LOCAL_ADDRESS=192.168.1.1

# List of known addresses to ping for latency & network uptime check
MONITOR_LATENCY_ADDRESSES=8.8.8.8,1.1.1.1


# Grafana admin password
GRAFANA_PASSWORD=PASS_1
# readonly db user for grafana
GRAFANA_DB_USER=grafana_readonly
GRAFANA_DB_PASSWORD=PASS_2

GRAFANA_PORT=3030
GRAFANA_DATA_DIR=./grafana/data/
GRAFANA_PROVISION_DIR=./grafana/provisioning/
GRAFANA_USERS_ALLOW_SIGNUP=false
